<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale = 1.0">
    <title>Restock</title>
    <link rel="shortcut icon" href="logo3.png">
    <link rel="stylesheet" href="about_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>

    <section class="header1">
        <nav>
        <p><a href="display.html"><img src="logo3.png"></a></p>
            <ul>
                <li>
                    <a>Graphic Crads</a>
                    <ul>
                        <li>
                            <a href="">GeForce RTX 3070</a>
                            <a href="">GeForce RTX 3080</a>
                            <a href="">GeForce RTX 3090</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Consoles</a>
                    <ul>
                        <li>
                            <a href="">PLAYSTATION 5</a>
                            <a href="">XBOX ONE X</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Notifications</a>
                </li>
                <li>
                    <a href="">Login</a>
                    <ul>
                        <li>
                            <a href="">Sign In</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="text-box1">
            <h1>Welcome to Restock</h1>
            <p>
                The best place to get notifications for in demand items.<br><br>
                ● The vision of Restock is to allow our users to be informed on the sought-after products
                they are looking forward to purchasing<br>
                ● The target audience of Restock are people who are looking for high in demand items. In
                demand items are items that get sold out<br> in minutes and we want to give our users the
                ability to quickly purchase after being notified.<br>
                ● Our strategy is to create a website where users can see various products and their
                vendors with price, availability,<br> rating, and url for the product, as well as the ability to be
                notified for their desired items. In addition, users can view graphs showing more
                information on the item.<br>
                ● Our goal is to help our users get the items they want without wasting time searching and
                navigating through various websites<br>
            </p>
        <div class="text-box2">
          <h2> <br> Restock Team </h2>
            <div class="row">
              <div class="column">
                <div class="card">
                  <img src="oscar.png" alt="Jane" style="width:100%">
                  <div class="container">
                    <h2>Oscar</h2>
                    <p class="title">Founder of Restock</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>jane@example.com</p>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="card">
                  <img src="alden.png" alt="Jane" style="width:100%">
                  <div class="container">
                    <h2>Alden</h2>
                    <p class="title">Founder of Restock</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>jane@example.com</p>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="card">
                  <img src="ethan.png" alt="Jane" style="width:100%">
                  <div class="container">
                    <h2>Ethan</h2>
                    <p class="title">Founder of Restock</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>jane@example.com</p>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="card">
                  <img src="danny.png" alt="Jane" style="width:100%">
                  <div class="container">
                    <h2>Danny</h2>
                    <p class="title">Founder of Restock</p>
                    <p>Some text that describes me small pp ipsum lorem.</p>
                    <p>jane@example.com</p>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="card">
                  <img src="david.png" alt="Jane" style="width:100%">
                  <div class="container">
                    <h2>David</h2>
                    <p class="title">Founder of Restock</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>jane@example.com</p>
                  </div>
                </div>
              </div>
        </section>


</body>
</html>