{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"> <!-- css for the search icon (fa fa-search) -->
    <link rel="stylesheet" type="text/css" href='{% static "/css/mainpage.css" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{% block title %}BASE{% endblock %}</title>
</head>

<body>
    <header>
      <nav>
        <p><a href="{% url 'landing' %}"><img src='{% static "imgs/logo3.png" %}'></a></p>
            <ul>
                <li>
                    <a>Graphic Cards</a>
                    <ul>
                        <li>
                            <a href="{% url 'home' %}?product=3070">GeForce RTX 3070</a>
                            <a href="{% url 'home' %}?product=3080">GeForce RTX 3080</a>
                            <a href="{% url 'home' %}?product=3090">GeForce RTX 3090</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>Consoles</a>
                    <ul>
                        <li>
                            <a href="{% url 'home' %}?product=Playstation">PLAYSTATION 5</a>
                            <a href="{% url 'home' %}?product=Xbox">XBOX ONE X</a>
                        </li>
                    </ul>
                </li>
                <li class = "clickable">
                    <a href="{% url 'home' %}">Products</a>
                </li>
                    {% if request.session.email != '' %}
                    <li class = "clickable">
                      <a href="{% url 'notification' %}">Notifications</a>
                    </li>
                    {% endif %}
                <li class = "clickable">
                        {% if request.session.email != '' %}
                            <a href="{% url 'signout' %}">Sign Out</a>
                        {% else %}
                            <a href="{% url 'login' %}"> Login </a>
                        {% endif %}
                </li>
                <li>
                    <div class = "search_container">
                        <form id = "searchbar" class = "search_form">
                            <input type="text" style = "font-family: FontAwesome, sans-serif;" class = "searchtext" name="product" placeholder="&#xf002 Search for Products">
                        </form>
                      </div>
                </li>
                <li>
                    {% if request.session.email != '' %}
                        <p>{{request.session.email}}</p>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    
    
    {% block styles %}
    {% endblock %}
    <div id ="content" > {% block content %} {% endblock %}</div>

    <section>
      <footer>
        <p>Restock Checker, Copyright &copy; Fall 2021</p>
        <p>Hunter College Capstone Project By: Danny Li, Alden Lee, Ethan Tam, Oscar Andrade, David Xue</p>
      </footer>
    </section>
</body>
</html>
