{% extends "./base.html" %}
{% block title %}Restock - details{% endblock %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<!--<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href='{% static "/css/notification.css" %}'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  css for the search icon (fa fa-search)
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Restock - Expanded Info</title>
    <link rel="shortcut icon" href='{% static "imgs/logo3.png" %}'>
</head>-->
<link rel="stylesheet" type="text/css" href='{% static "/css/format_list.css" %}'>


<body>
    <script>0</script>

<!--  -->
<div class = "compareTable" style = "z-index:0">
  <ul class="row">
     <li class="legend">{{detail.product}}</li>


  {% for i in bb %}
        <li> <img src = '{{i.BestBuy_Image}}' style = "height:150px;width:auto;" alt='FAILED' onerror=this.src="{% static '/imgs/no_image.png' %}"><br/><br />BestBuy </li>
  {% endfor %}

  {% for j in gs %}
       <li><img src = '{{j.Gamestop_Image}}' style = "height:150px;width:auto" alt='FAILED' onerror=this.src="{% static '/imgs/no_image.png' %}"><br/><br/> Gamestop</li>
  {% endfor %}

  {% for k in mc %}
     <li><img src = '{{k.MicroCenter_Image}}' style = "height:150px;width:auto" alt='FAILED' onerror=this.src="{% static '/imgs/no_image.png' %}"><br/> <br/> Microcenter</li>
  {% endfor %}

  {% for l in bh %}
     <li><img src = '{{l.BH_Image}}' style = "height:150px;width:auto" alt='FAILED' onerror=this.src="{% static '/imgs/no_image.png' %}"><br/> <br/> B&H</li>
  {% endfor %}

  {% for m in ad %}
     <li><img src = '{{m.AD_Image}}' style = "height:150px;width:auto" alt='FAILED' onerror=this.src="{% static '/imgs/no_image.png' %}"><br/> <br/> Adorama</li>
  {% endfor %}

  {% for n in amzn %}
     <li><img src = '{{n.Amazon_Image}}' style = "height:150px;width:auto" alt='FAILED' onerror=this.src="{% static '/imgs/no_image.png' %}"><br/> <br/> Amazon </li>
  {% endfor %}
 </ul>

 <ul class="row"> <!-- Prices -->
       <li class="legend">Vendor</li>
  {% for i in bb %}
       <li><img style = "height:100px;width:150px;" src = "{% static 'imgs/bestbuy.png' %}"></li>
  {% endfor %}

  {% for i in gs %}
       <li><img style = "width:200px;height:150px;" src = "{% static 'imgs/gamestop.PNG' %}"> </li>
  {% endfor %}

  {% for i in mc %}
       <li><img style = "width:200px;height:150px;" src = "{% static 'imgs/microcenter.PNG' %}"> </li>
  {% endfor %}

  {% for i in bh %}
       <li><img style = "width:150px;height:150px;" src = "{% static 'imgs/BH_logo.png' %}"> </li>
  {% endfor %}

  {% for i in ad %}
       <li><img style = "width:150px;height:150px;" src = "{% static 'imgs/adorama.PNG' %}"> </li>
  {% endfor %}

  {% for i in amzn %}
       <li><img style = "width:175px;height:150px;" src = "{% static 'imgs/amazon.PNG' %}"> </li>
  {% endfor %}
</ul>

 <ul class="row"> <!-- Prices -->
       <li class="legend">Price</li>


{% for i in bb %}
       <li>BB Price: {{i.BestBuy_price}}</li>
{% endfor %}

{% for j in gs %}
       <li>Gaem: {{j.Gamestop_price}}</li>
{% endfor %}

{% for k in mc %}
       <li>Macro: {{k.MicroCenter_Price}}</li>
{% endfor %}

{% for l in bh %}
       <li>Bee H: {{l.BH_price}}</li>
{% endfor %}

{% for m in ad %}
       <li>Addy: {{m.AD_price}}</li>
{% endfor %}

{% for n in amzn %}
       <li>Emyzon: {{n.Amazon_price}} (If 0.00 to be fixed later...)</li>
{% endfor %}


</ul>

<ul class="row"> <!-- Ratings -->
      <li class="legend">Availability</li>

{% for i in bb %}
      {% if i.BestBuy_Status == 'SOLD_OUT'%}
        <li>BB: Out of Stock</li>
      {% else %}
        <li>BB: {{i.BestBuy_Status}}</li>
      {% endif %}
{% endfor %}

{% for j in gs %}
      <li>Gaem: {{j.Gamestop_Status}}</li>
{% endfor %}

{% for k in mc %}
      <li>Macro: N/A </li>
{% endfor %}


{% for l in bh %}
      {% if l.BH_Status == 'Not in Stock'%}
        <li>Bee H: Out of Stock</li>
      {% else %}
        <li>Bee H: {{l.BH_Status}}</li>
      {% endif %}
{% endfor %}

{% for m in ad %}
      {% if m.AD_Status == 'Not in Stock'%}
        <li>Addy: Out of Stock</li>
      {% else %}
        <li>Addy: {{m.AD_Status}}</li>
      {% endif %}
{% endfor %}

{% for n in amzn %}
      <li>Emyzon: {{n.Amazon_Status}}</li>
{% endfor %}
</ul>

<ul class="row"> <!-- Ratings -->
      <li class="legend">Ratings & Num Reviews</li>


{% for i in bb %}
      <li>BB Star: {{i.BestBuy_Ratings}} , Reviews: {{i.BestBuy_Review}}</li>
{% endfor %}

{% for j in gs %}
      <li>Gaem: {{j.Gamestop_Ratings}}, Reviews: {{j.Gamestop_Reviews}}</li>
{% endfor %}

{% for i in mc %}
      <li>Macro: N/A </li>
{% endfor %}

{% for l in bh %}
      <li>Bee H: {{l.BH_Ratings}}, Reviews: {{l.BH_Reviews}}</li>
{% endfor %}

{% for m in ad %}
      <li>Addy: {{m.AD_Ratings}}, Reviews: {{m.AD_Reviews}}</li>
{% endfor %}

{% for n in amzn %}
      <li>Emyzon: {{n.Amazon_Ratings}}, Reviews: {{n.Amazon_Reviews}}</li>
{% endfor %}
</ul>

<ul class="row"> <!-- URL -->
    <li class="legend"></li>

{% for i in bb %}
    <li><a href={{i.BestBuy_URL}} class="calltoaction">Link</a></li>
{% endfor %}

{% for j in gs %}
    <li><a href={{j.Gamestop_URL}} class="calltoaction">Link</a></li>
{% endfor %}

{% for k in mc %}
    <li><a href={{k.MicroCenter_URL}} class="calltoaction">Link</a></li>
{% endfor %}

{% for l in bh %}
    <li><a href={{l.BH_URL}} class="calltoaction">Link</a></li>
{% endfor %}

{% for m in ad %}
    <li><a href={{m.AD_URL}} class="calltoaction">Link</a></li>
{% endfor %}

{% for n in amzn %}
    <li><a href={{n.Amazon_URL}} class="calltoaction">Link</a></li>
{% endfor %}

</ul>
</div>




<!-- </div>

    <br>
    <div class = "logo_product" style = "font-size:25px;">
      {% for i in bb %}
      <div id = "bb_logo" class = "vendor_img" onclick = "selectInfo('bestbuy');return false;"><img style ='max-height:100%;vertical-align:middle;width:auto;' src = 'https://pisces.bbystatic.com/image2/BestBuy_US/Gallery/BestBuy_Logo_2020-190616.png'/></img> </div>
      <div style = "display:none;">
        <div>
          Name:
          {{i.BestBuy_UUID.product}}
        </div>
        <div>
          Price:
          {{i.BestBuy_price}}
        </div>
        <div>
          Stock Status:
          {{i.BestBuy_Status}}
        </div>
        <div>
          Ratings:
          {{i.BestBuy_Ratings}}
        </div>
        <div>
          Reviews:
          {{i.BestBuy_Review}}
        </div>
        <div>
          Click URL to purchase product!
          <a href= '{{i.BestBuy_URL}}'>URL To Product </a>
        </div>
        <div>
          <img style = "width:35%;" src = '{{i.BestBuy_Image}}' style = "width:300px;height:auto" alt='FAILED' onerror=this.src="{% static '/imgs/no_image.png' %}">
        </div>
      </div>
    {% endfor %}

    {% for i in gs %}
    <div id = "bb_logo" class = "vendor_img" onclick = "alert('a')"><img style ='max-height:100px;max-width:100%;vertical-align:middle;width:auto;' src = '{% static "/imgs/gamestop.PNG" %}'></img> </div>
      <div style = "display:none;">
        <div>
          Name:
          {{i.Gamestop_UUID.product}}
        </div>
        <div>
          Price:
          {{i.Gamestop_price}}
        </div>
        <div>
          Stock Status:
          {{i.Gamestop_Status}}
        </div>
        <div>
          Ratings:
          {{i.Gamestop_Ratings}}
        </div>
        <div>
          Reviews:
          {{i.Gamestop_Reviews}}
        </div>
        <div>
          Click URL to purchase product!
          <a href= '{{i.Gamestop_URL}}'>URL</a>
        </div>
        <div>
          <img src = '{{i.Gamestop_Image}}' style = "width:300px;height:auto" alt='FAILED' onerror=this.src="{% static '/imgs/no_image.png' %}">
        </div>
        {% endfor %}
      </div>

      {% for i in mc %}
      <div id = "mc_logo" class = "vendor_img" onclick = "alert('a')"><img style ='max-height:100px;max-width:100%;vertical-align:middle;width:auto;' src = '{% static "/imgs/microcenter.PNG" %}'></img>
        <div style = "display:none;">
          <div>
            Name:
            {{i.MicroCenter_UUID.product}}
          </div>
          <div>
            Price:
            {{i.MicroCenter_Price}}
          </div>
          <div>
            Click URL to purchase product!
            <a href= '{{i.MicroCenter_URL}}'>URL</a>
          </div>
        </div>
        <div>
          <img src = '{{i.MicroCenter_Image}}' style = "width:300px;height:auto;display:none;" alt='FAILED' onerror=this.src="{% static '/imgs/no_image.png' %}">
        </div>

        {% endfor %}
      </div>



      {% for i in bh %}
      <div id = "bh_logo" class = "vendor_img" onclick = "alert('a')"><img style ='max-height:100%;max-width:100%;vertical-align:middle;width:auto;' src = 'https://yt3.ggpht.com/kS4t4QRwLD-q1BhhiRVzVzQimW65zDkopFa8dD14i56oc8ii0G253j6RqC3HxcZ-ytzDhUV-=s900-c-k-c0x00ffffff-no-rj'></img> </div>
        <div style = "display:none;">
          <div>
            Name:
            {{i.BH_UUID.product}}
          </div>
          <div>
            Price:
            {{i.BH_price}}
          </div>
          <div>
            Stock Status:
            {{i.BH_Status}}
          </div>
          <div>
            Ratings:
            {{i.BH_Ratings}}
          </div>
          <div>
            Reviews:
            {{i.BH_Reviews}}
          </div>
          <div>
            Click URL to purchase product!
            <a href= '{{i.BH_URL}}'>URL</a>
          </div>
          <div>
            <img src = '{{i.BH_Image}}' style = "width:300px;height:auto" alt='FAILED' onerror=this.src="{% static '/imgs/no_image.png' %}">
          </div>
          {% endfor %}
        </div>
    </div>

    <div class = "logo_product" style = "font-size:25px;">
      {% for i in ad %}
      <div id = "ad_logo" class = "vendor_img" onclick = "alert('a')"><img style ='max-height:100px;max-width:100%;vertical-align:middle;width:auto;' src = '{% static "/imgs/Adorama1.png" %}'></img> </div>
        <div style = "display:none;">
          <div>
            Name:
            {{i.AD_UUID.product}}
          </div>
          <div>
            Price:
            {{i.AD_price}}
          </div>
          <div>
            Stock Status:
            {{i.AD_Status}}
          </div>
          <div>
            Ratings:
            {{i.AD_Ratings}}
          </div>
          <div>
            Reviews:
            {{i.AD_Reviews}}
          </div>
          <div>
            Click URL to purchase product!
            <a href= '{{i.AD_URL}}'>URL</a>
          </div>
          <div>
            <img src = '{{i.AD_Image}}' style = "width:300px;height:auto" alt='FAILED' onerror=this.src="{% static '/imgs/no_image.png' %}">
          </div>
          {% endfor %}
        </div>
    </div>

    {% for i in amzn %}
    <div id = "amzn_logo" class = "vendor_img" onclick = "alert('a')"><img style ='max-height:100px;max-width:100%;vertical-align:middle;width:auto;' src = '{% static "/imgs/amazon.PNG" %}'></img> </div>
      <div style = "display:none;">
        <div>
          Name:
          {{i.Amazon_UUID.product}}
        </div>
        <div>
          Price:
          {{i.Amazon_price}}
        </div>
        <div>
          Stock Status:
          {{i.Amazon_Status}}
        </div>
        <div>
          Ratings:
          {{i.Amazon_Ratings}}
        </div>
        <div>
          Reviews:
          {{i.Amazon_Reviews}}
        </div>
        <div>
          Click URL to purchase product!
          <a href= '{{i.Amazon_URL}}'>URL</a>
        </div>
        <div>
          <img src = '{{i.Amazon_Image}}' style = "width:300px;height:auto" alt='FAILED' onerror=this.src="{% static '/imgs/no_image.png' %}">
        </div>
        {% endfor %}
      </div>

    <div class = "vendors" style = "font-size:25px;">
  </div>
<br>
<div class = "logo_product" style = "font-size:25px;">
</div>
<br>

<div class = "logo_product" style = "font-size:25px;">
</div>
<br>
<div class = "logo_product" style = "font-size:25px;">



</div> -->


<!-- Lazy centering, fix later -->
<center>
Graph for Product
{% for x in chart %}
  <img src="data:image/png;base64, {{x|safe}}" style="width:600px;height:600px">
{% endfor %}
</center>
</body>

<script>
// var bb_logo = document.getElementById("bb_logo")
//
// var bestbuyArray = []; //data array to store products to compare.
// var bharray = [];
// var mcArray = [];
// var adArray = [];
// var gsArray = [];
// var amznArray = [];
//
//
// {% for bproduct in bb_product %} //push bestbuy data to the array
//   bestbuyArray.push('{{bproduct.BestBuy_UUID.UUID.strip}}, {{bproduct.BestBuy_UUID.product}}, {{bproduct.BestBuy_price}}, {{bproduct.BestBuy_Status}}, {{bproduct.BestBuy_Ratings}}, {{bproduct.BestBuy_Review}}, {{bproduct.BestBuy_URL}}, {{bproduct.BestBuy_Image}}')
// {% endfor %}
//
//
// console.log(bestbuyArray)
//
// // document.getElementById('bb_logo').onclick = function() {
// //   this.style.left = parseFloat(getComputedStyle(this).left) + 42 + 'px';
// // };
//
//   function selectInfo(vendor){
//      bb_logo.style.left = "42px"
//      console.log("shifting bb logo...")
//   }
//

</script>

</html>
{% endblock %}
