{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "/css/login.css" %}'>
    <script src = '{% static "/js/login.js" %}'></script>
    <title>Login/SignUp</title>
</head>
<body>
    <div class = "form_container">
      <form method="POST" class = "form" id= "login_form">{% csrf_token %}

          <h1 class = "form-title"> LOGIN </h1>
          <div class = "result_message">
          {% if messages %}
              {%for message in messages %}
                  {% if "login" in message.tags %}
                      {{message}}
                  {% endif %}
              {% endfor %}
          {% endif %}
          </div>

          <div class = "result_message">
          {% if messages %}
              {% for message in messages %}
                  {% if "signup_fail" in message.tags %}
                      {{message}}
                  {% endif %}
              {% endfor %}
          {% endif %}
          </div>

          <div class = "result_message">
          {% if messages %}
              {% for message in messages %}
                  {% if "signup_success" in message.tags %}
                      {{message}}
                  {% endif %}
              {% endfor %}
          {% endif %}
          </div>

          <div class = "signup-input">
            <input type="text" name="login_email" autofocus placeholder="Email Address" class = "form-input">
            <br>
            <input type="password" name="login_pass" autofocus placeholder="Password" class = "form-input">
            <br>
          <button type="submit" value="Login" class = "login-button">
              LOGIN
          </button>
          </div>
        <p class = "swap-form"> {% comment %} Hrefs to swap the forms {% endcomment %}
          <a class = "switch-form" id = "createAccount" href = "" onclick = "unhide_account();return false;"> Need an account? Sign up! </a>
          <br>
          <a class = "switch-form" href="/"> Go back Home </a>
        </p>
      </form>

      <form method="POST" class = "form form-hidden" id = "account_form">{% csrf_token %}

          <h1 class = "form-title"> SIGN UP </h1>

          <input type="email" name="signup_email" autofocus placeholder="Email" class = "form-input">
          <input type="password" name="signup_pass" autofocus placeholder="Password" class = "form-input">

          <button type="submit" value="Sign Up" class = "login-button">
              SIGN UP
          </button>

          <p class = "swap-form"> {% comment %} Hrefs to swap the forms {% endcomment %}
            <a class = "switch-form" id = "signInAccount" href = "" onclick = "unhide_login();return false;"> Already have an account? Sign in! </a>
            <br>
            <a class = "switch-form" href="/"> Go back Home </a>
          </p>

      </form>
    </div>
</body>
</html>
