<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">{% csrf_token %}
        <input type="text" name="login_email" placeholder="Email">
        <input type="text" name="login_pass" placeholder="PassWord">
        <br>
        <button type="submit" value="Login">
            Login
        </button>
        <br>
        {% if messages %}
            {%for message in messages %}
                {% if "login" in message.tags %}
                    {{message}}
                {% endif %}
            {% endfor %}
        {% endif %}
    </form>
    <br>
    <form method="POST">{% csrf_token %}
        <input type="text" name="signup_email" placeholder="Email">
        <input type="text" name="signup_pass" placeholder="PassWord">
        <br>
        <button type="submit" value="SignUp">
            Sign Up 
        </button>
        <br>
        {% if messages %}
            {% for message in messages %}
                {% if "signup" in message.tags %}
                    {{message}}
                {% endif %}
            {% endfor %}
        {% endif %}
    </form>
</body>
</html>