<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'login' %}"> Login </a>
    </header>
    <form>
        <input type="text" name="product" placeholder="What Item?">
        <br>
        <button type="submit" value="Search!">
            Search!
        </button>
    </form>
    <h1>Products</h1>
    <table border="1" width="1440">
        <tr>
            <td>SKU</td>
            <td>Name</td>
            <td>Price</td>
            <td>Status</td>
            <td>URL</td>
            <td>Reviews</td>
        </tr>
        {% for product in all_enteries %}
        <tr>
            <td>{{product.SKU}}</td>
            <td>{{product.Name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.Status}}</td>
            <td><a href={{product.URL}} target="__blank">Link</a></td>
            <td>{{product.Reviews}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>