<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
    <br>
    <table border="1" width="1440">
        <tr>
            <td>Products</td>
        </tr>
        <form>
            <button type="submit" value="submit">Remove from Notification</button><br>
        {% for items in notify %}
        <tr>
            <td><input type="checkbox" id="product" name="id" value="{{items.product}}">
                <label for="product">
                    {{items.product}}
                </label><br>
            </td>
        </tr>
        {% endfor %}
        </form>
    </table>
</body>
</html>