* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

nav {
  width: 100%;
  height: 70px;
  background-color: #045b8d;
}

nav img {
  width: 70px;
  padding: 3px;
}

.nav-links {
  flex: 1;
  text-align: center;
}

nav p {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 55px;
  float: left;
  padding: 0px 20px;
}

nav ul {
  float: left;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;
  padding: 25px 16px;
  display: block;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #045b8d;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 180px;
  border-radius: 4px;
}

nav ul li ul li a {
  padding: 8px 14px;
}

nav ul li ul li a:hover {
  background-color: #8f8f8f;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.about {
  width: 40%;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
}

.text-box2 {
  text-align: center;
  top: 300px;
  position: absolute;
}

.column {
  padding: 0 8px;
}

.card {
  padding: 16px 16px;
  background-color: #5e5e5e;
}

.row {
  margin: 5%;
  display: flex;
  justify-content: space-around;
}
