.compareTable{
  margin-top: 2.5%;
  position:absolute;
  display:flex;
  flex-direction: column;
}

.row{
    list-style: none;
    display: flex; /* turn children li elements into flex children */
    flex: 1;
    flex-wrap: wrap;
}

.compareTable ul li{
    background: #545242;
    font-weight: bold;
    flex: 1;
    padding: 10px;
    border-bottom: 1px solid gray;
    font-size: 20px;
}

/* the legend column (first li within each row) */
.legend{
    background: #6640d8;
    color: white;
    border: none;
    width: 200px;
    border-bottom: 1px solid white;
    vertical-align: middle;
}

/* very first row */
div.comparetable ul.row:first-of-type li{
    text-align: center;
}

/* very last row */
div.comparetable ul.row:last-of-type li{
    text-align: center;
    border-bottom: none;
    box-shadow: 0 6px 6px rgba(0,0,0,0.23);
}


/* first and last cell within legend column */
div.comparetable ul.row:first-of-type li.legend.legend,
div.comparetable ul.row:last-of-type li.legend{
    background: transparent;
    box-shadow: none;
}

/*
.vendor_img{
  margin-left: 1%;
  position:relative;

}

.mainDetails{
  position: absolute;
  left: 35%;
  width: 65%;
  height: 60%;

}

#bb_img{
  position: relative;
  top:50%;
  transform: translateY(-50%);
  width:35%;
}

#bb_info{
  position:absolute;
  left:40%;
  top: -50%;
}

.table{
  font-size: 15px;
} */
