/*Resource used for css/html formatting: https://www.youtube.com/watch?v=3GsKEtBcGTk Dcode */

body{

	margin: 0 auto;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	background: url("/static/imgs/background_img.jpg");
	background-size: cover;
}

.form_container{
	width: 550px;
	max-width: 550px;

	border-radius: 5px;
	margin: 1rem;
	padding: 3rem;
	box-shadow: 0 0 40px gray;
	background: white;
}

.form > *:last-child{
	margin-bottom: 0;
}

.result_message{
	margin: 0 auto;
	color: red;
	padding: .75rem;
	text-align: center;
}

.form_container, .input{
		font-family: sans-serif;
}

.form-title{
	text-align: center;
	margin: 2.5rem;
}

.form-input{
	font-size: 1.75rem;
	box-sizing: border-box;
	border-radius: 5px;
	border: 2px solid gray;
	padding: 1rem;
	margin-bottom: 1rem;
	width: 100%;
	background: #BEBEBE;
	outline: none;
	transition: border-color 0.5s; /* transition for focus */
}

.form-input:focus{
	border-color: #330099;
}

.login-button{
	font-size: 1.25rem;
	width: 100%;
	background-color: green;
	border-radius: 5px;
	border: none;
	padding: 1.5rem;
	cursor: pointer;
	color: white;
	font-weight: bold;
	margin-bottom: 1rem;
}

.login-button:hover{
	background: #006400;
}

.swap-form{
	text-align: center;
}

.switch-form{
	color: blue;
	font-size: 1.5rem;
	text-decoration: none;
}

.switch-form:hover{
	text-decoration: underline;
}

.form-hidden{
	display: none;
}

/* input:valid+span:after{
	position: absolute;
  content: '✓';
  padding-left: 5px;
}

input+span{
	padding-right: 15px;
}

span{
	vertical-align: middle;
}

input:invalid+span:after{
	position: absolute;
  content: '✖';
  padding-left: 5px;
} */
