* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}



.logo_img {
  height: 80px;
  width: auto;
}

h1 {
  text-align: center;
}

.empty_container {
  height: 25px;
}

.wrapper {
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 1rem;
  background-color: #f8f8ff;
  color: #444;
  height: 50%;
  margin: 0 auto;
  width: 80%;
}

.notifcheck {
  margin-right: 25px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 1rem;
  font-size: 110%;
  vertical-align: top;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
}

.box_text:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #00bfff;
}

img {
  height: 0.85em;
}

table {
  border: 2.5px solid gray;
}

body {
  /*background: linear-gradient(to right, #6699ff 0%, #ffcc99 100%) !important;*/
  height: 100%;
  width: 100%;
}

.td-product-header:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.header {
  height: 80px;
  width: 100%;
  background-color: #045b8d;
  display: block;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.logo {
  vertical-align: middle;
}

.inner_header {
  vertical-align: middle;
  align-items: center;
}

nav {
  width: 100%;
  height: 70px;
  background-color: #045b8d;
}

nav img {
  height: 70px;
  width: 70px;
  padding: 3px;
}

nav p {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 55px;
  float: left;
  padding: 0px 20px;
}

nav ul {
  float: left;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
  z-index: 55;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;
  padding: 25px 16px;
  display: block;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #045b8d;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 180px;
  border-radius: 4px;
}

nav ul li ul li a {
  padding: 8px 14px;
}

nav ul li ul li a:hover {
  background-color: #8f8f8f;

}

nav ul li p {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;
  padding: 10px 32px;
  display: block;
}
table th {
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  color: white;
  font-family: sans-serif;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 70%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
  border: 2px solid black;
  font-family: sans-serif;
  font-weight: bold;
}

a:hover {
  color: blue;
}

#logo_image {
  max-width: 100%;
  height: 80px;
}

.removenotifbutton {
  color: white;
  background: #2196f3;
  border-left: none;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
}

.button_container {
  padding-left: 1rem;
  margin: 0;
  position: absolute;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #525252;
  color: white;
  bottom: 0;
}
